@model MrBill_MVC.Models.LocalPasswordModel

<h3>Ändra lösenord</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    
        <div class="login-form">
            <div class="form-group">

                <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Nuvarande lösenord" })
                    <label for="OldPassword" class="login-field-icon fui-lock"></label>
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Nytt lösenord" })
                    <label for="NewPassword" class="login-field-icon fui-lock"></label>
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Bekräfta nytt lösenord" })
                    <label for="ConfirmPassword" class="login-field-icon fui-lock"></label>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Ändra lösenord" />

            </div>
        </div>
    
}
