@model MrBill_MVC.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<link href="~/Content/custom-style-login.css" rel="stylesheet" />
<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav navbar-left">
			<li>
				<a class="navbar-brand" href="/">
					<img src="~/Content/img/mrbill.png" alt="" />
				</a>
			</li>
		    <li>@Html.ActionLink("HEM", "Index", "Home", null, new { @class = "ltc-4" })</li>
		    <li>
			    @Html.ActionLink("OM OSS", "About", "Home", null, new { @class = "ltc-4" })
		    </li>
		    <li>
			    @Html.Partial("_LoginPartial")
		    </li>
	    </ul>
    </div>
</nav>
<div class="bloc d-bloc" id="bloc-5">
    <div class="container bloc-xl">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <br/>
                @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl} ))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
	                <div class="login-form">
						<center>
							<h5 class="register-text">Logga in</h5>
						</center>
		                <div class="form-group">
			                <div class="form-group">
				                @Html.TextBoxFor(m => m.UserName, new {@id = "user", @class = "form-control", @placeholder = "Email"})
				                <label for="Email" class="login-field-icon fui-mail"></label>
				                @Html.ValidationMessageFor(m => m.UserName)
			                </div>
			                <div class="form-group">
				                @Html.PasswordFor(m => m.Password, new {@id = "pass", @class = "form-control", @placeholder = "Lösenord"})
				                <label for="Password" class="login-field-icon fui-lock"></label>
				                @Html.ValidationMessageFor(m => m.Password)
			                </div>
			                <div class="form-group">
				                @Html.CheckBoxFor(m => m.RememberMe, new {@class = ""})
				                @Html.LabelFor(m => m.RememberMe, new {@class = ""})
			                </div>
			                <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block"/>
			                @Html.ActionLink("Glömt lösenordet?", "LostPassword", "Account", null, new {@class = "forgot"})
			                <span>@ViewBag.Message</span>
		                </div>
	                </div>
                }
            </div>
        </div>
        <br/>              
        <br/>
        </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
