@model MrBill_MVC.Models.LostPasswordModel
@{
    ViewBag.Title = "Lost Password";
}

<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav navbar-left">
			<li>
				<a class="navbar-brand" href="/">
					<img src="~/Content/img/mrbill.png" alt="" />
				</a>
			</li>
		    <li>
			    @Html.ActionLink("HEM", "Index", "Home", null, new { @class = "menu-item" })
		    </li>
		    <li class="">
			    @Html.ActionLink("OM OSS", "About", "Home", null, new { @class = "menu-item" })
		    </li>
		    <li>
			    @Html.Partial("_LoginPartial")
		    </li>
	    </ul>

    </div>
</nav>
<div class="bloc d-bloc" id="bloc-5">
<div class="container bloc-xl">
    <div class="row">
        <div class="col-sm-4">
            <h5>@ViewBag.Message</h5>
        </div>
        <div class="col-sm-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="login-form">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder="Email"})
                        <label for="Email" class="login-field-icon fui-mail"></label>
                    </div>


                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Recover Account"/>
                </div>
                <br/>
                <br/>
            }
        </div>
    </div>
</div>
</div>